.student-clubs-container {
    text-align: center;
    padding: 40px;
    background-color: #eef2f7;
  }
  
  .student-clubs-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #334464;
  }
  
  .student-clubs-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666;
  }
  
  .student-clubs-card {
    display: inline-block;
    margin: 15px;
    padding: 20px;
    width: 250px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .student-clubs-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .student-clubs-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #334464;
  }
  
  .student-clubs-card p {
    font-size: 1rem;
    color: #777;
  }
  
  .student-clubs-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #334464;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .student-clubs-button:hover {
    background-color: #556699;
  }
  